@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbarListMatiere::-webkit-scrollbar {
    width: 16px;
    height: 20px;
  }

  .scrollbarListMatiere::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbarListMatiere::-webkit-scrollbar-thumb {
    background: #4d44b593;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbarListMatiere::-webkit-scrollbar-thumb:hover {
    background: #4d44b572;
  }

  .question-envelop:hover .question-envelop-icon{
    color: white;
  }

  .othersForum .ant-select-selector{
    border-radius: 12px;
  }
.forumPopUp .ant-modal-header{
    background-color: #4D44B5 !important;
    top: -20px;
    position: relative;
    left: -24px;
    width: calc(100% + 48px);
    height: 65px;
    background-image: url("./assests/cercles.png");
    background-position: right -15px top 5px;
    background-repeat: no-repeat;

}

.forumPopUp .ant-modal-title{
   position: relative;
    transform: translateY(-50%);
    top: 50%;
    padding-left: 20px;
    color: white;
}

.forumPopUp .ant-modal-close-x{
   display: none;
}

 .forumPopUp .ant-upload-list-item-error{
  border: 1px solid #c2bbeb99;
 }

}
